* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body {
	max-width: 1024px;
	margin: 0 auto;
	background: linear-gradient(to right, #36d1dc , #5b86e5);
	font-family: 'Roboto', sans-serif;
}

header {
	height: 10vh;
	display: flex;
	align-items: center;
}

header img {
	height: 3rem;	
}

header img:hover {
	height: 4rem;
	transition: 0.25s ease;
	/* not sure if i will keep this transition, take note of how it loads */
}

.introduction {
	height: 80vh;
	color: whitesmoke;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.arrow {
	height: 10vh;
	color: whitesmoke;
	font-size: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow i:hover {
	margin-bottom: 1rem;
	transition: 0.25s ease;
}

.projects {
	margin: 5rem 0;
	background: whitesmoke;
	color: #09091a;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.projects h2 {
	margin: 5rem 0;
}

.projects div {
	padding-bottom: 5rem;
	color: #09091a;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.projects div img {
	height: 25rem;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects div h3 {
	margin-bottom: 0.25rem;
}

.projects div p {
	margin-bottom: 0.25rem;
}

.projects div a {
	text-decoration: none;
	color: #09091a;
}

.projects div a:hover {
	opacity: 0.75;
}

.projects div i {
	margin: 0 0.25rem;
	font-size: 1.5rem;
}

footer {
	height: 20vh;
	color: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
things to include:
- skills
- projects
- blog
- contact me, maybe
- resume

section {
	background-color: white;
	border-radius: 25px;
	height: 25%;
	width: 25%;
	font-family: 'Raleway', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section h1 {
	font-size: 32px;
	color: #09091a;
	font-weight: 500;
}

section p {
	color: #09091a;
	font-size: 24px;
}

.icons a {
	margin: 0px 5px 0px 5px;
}

.icons a i {
	color: #09091a;
	font-size: 28px;
	transition: .5s ease-in-out;
}

.icons a i:hover {
	opacity: 0.5;

}
*/